body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  font-family: 'YourImportedFont', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #0066cc;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}

.navbar {
  text-align: center;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
