body, ul, li, p {
  margin: 0;
  padding: 0;
}

.navbar {
  text-align: center;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #0066cc;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ff7700;
}

h1, h2 {
  font-family: 'YourImportedFont', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #0066cc;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}

img {
  width: 300px;
  height: 200px;
}
